*.swp
.DS_store
log
latex/*.pdf
*.aux
*.toc
*.lof
*.log
*.out
*.gz
*.lot
code/efficiency/eff.workflow
code/efficiency/*.pdf
code/calibration/openADC
code/montecarlo/semestre2/plot.pdf
code/montecarlo/semestre2/savedfits.root
code/montecarlo/semestre2/montecarlo
code/montecarlo/semestre2/montecarloSingle
code/montecarlo/semestre2/main
code/montecarlo/semestre2/montecarlo_modifiedforbaseline
code/montecarlo/semestre2/montecarlo_parallel
code/montecarlo/semestre2/montecarlo_parallel.cc
code/montecarlo/semestre2/baselineStart
code/analysis/lifetimeAnalysis
code/analysis/analisiFinale
code/analysis/spectrumFit.pdf
code/analysis/spectrumFit_cal.pdf
code/montecarlo/semestre2/conf.txt
