*.swp
.DS_store
log
./*.pdf
*.aux
*.toc
*.lof
*.log
*.out
*.gz
*.lot
code/efficiency/eff.workflow
code/efficiency/*.pdf
code/montecarlo/semestre2/montecarlo
code/montecarlo/semestre2/montecarlo_parallel
code/montecarlo/semestre2/montecarlo_parallel.cc
code/analysis/lifetimeAnalysis
